parameters:
  level: 8
  paths:
    - src
    - tests

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false

  excludePaths:
    - src/DependencyInjection/Configuration.php

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
